*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
body{
    background-color: #f2f2f2;
    overflow-x: hidden;
    overflow-y: hidden;
}
h1{
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0;
}
button{
    touch-action: manipulation;
    width: 90%;
    height: 40px;
    margin-left: 5%;
    font-size: 15px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    margin-top: 70px;
    cursor: pointer;
    opacity: 0;
}
button:active{
    transform: scale(0.95);
}

/* ekrano ispejimas */
#screenSize{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 90;
    background-color: #f2f2f2;
    cursor: not-allowed;
}
#screenSizeTekstas1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    cursor: not-allowed;
    font-weight: 600;
}
#screenSizeTekstas2{
    font-size: 17px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    cursor: not-allowed;
}
#sizeDiv{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
}
#computerIcon{
    font-size: 70px;
    position: absolute;
    color: black;
    cursor: not-allowed;
    margin-right: 120px;
}
#xIcon{
    font-size: 30px;
    color: red;
    background-color: #f2f2f2;
    border-radius: 100%;
    margin-top: 60px;
    z-index: 2;
    margin-left: 70px;
    cursor: not-allowed;
}
#phoneIcon{
    font-size: 70px;
    position: absolute;
    color: black;
    cursor: not-allowed;
    margin-left: 120px;
}
#checkIcon{
    font-size: 30px;
    color: green;
    background-color: #f2f2f2;
    border-radius: 100%;
    margin-top: 60px;
    z-index: 2;
    margin-left: 70px;
    cursor: not-allowed;
}
/* inspect tool uzblokavimas */
#accessDenied{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 95;
    background-color: #f2f2f2;
    color: black;
    transition: 0.2s;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    cursor: not-allowed;
    transform: scale(1.1);
    opacity: 0;
}
.fa-ban{
    color: red;
    font-size: 70px;
    cursor: not-allowed;
    transition: none;
}
#accessDenied p{
    margin-top: 20px;
    cursor: not-allowed;
}
#accessDenied div{
    font-size: 15px;
    width: 275px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 25px;
    /* outline: 1px solid red; */
}
#accessDenied div p{
    margin-top: 0;
}
#uzdraustaRestart {
    width: 50px;
    height: 50px;
    border:7px solid black;
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
    box-sizing: border-box;
    }
#uzdraustaRestart::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset:-7px;
    border-radius: 50%;
    border:7px solid black;
    /* animation: prixClipFix 10s linear; */
    animation: none;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@media only screen and (max-width: 750px){
    #screenSize{
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #141414;
    }
    h1{
        color: white;
    }
    button{
        border-color: white;
        color: white;
    }
    #screenSize{
        background-color: #141414;
    }
    #screenSizeTekstas1{
        color: white;
    }
    #screenSizeTekstas2{
        color: white;
    }
    #computerIcon{
        color: white;
    }
    #xIcon{
        background-color: #141414;
    }
    #phoneIcon{
        color: white;
    }
    #checkIcon{
        background-color: #141414;
    }
    #accessDenied{
        background-color: #141414;
        color: white;
    }
    #uzdraustaRestart {
        border-color:white;
    }
    #uzdraustaRestart::before {
        border-color:white;
    }
}